.screen-container {
    display: flex;
}
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--fullPageHeight);
    margin: 0;
    width: 100%;
}
.signup-form {
    text-align: center;
}
.form-container, .left-side {
    flex: 1;
}
.left-side {
    background-image: url("../../../assets/images/img4.jpg");
    background-size: cover;
    background-position: center;
}
.signup-header {
    font-family: var(--fontFamily);
    font-size: xx-large;
    margin-bottom: 40px;
}
button {
    font-family: var(--fontFamily);
    margin-top: 40px;
}
.role-label {
    text-align: start !important;
}
@media (max-width: 800px) {
    .screen-container {
        flex-direction: column;
    }
}